# Loading data into Pandas

In [52]:
import pandas as pd

pokemon = pd.read_csv('pokemon_data.csv')
# print(pokemon.head(4)) loads first 4 rows

## Reading data in Pandas

In [70]:
# Read headers
# print(pokemon.columns)

# Read each column
# print(pokemon[['Name','Type1','Type2']][0:9])

# Read each row
# print(pokemon.iloc[1])

# read a specific location
# print(pokemon.iloc[2,1])

# Only get first 5 fire type pokemon
print(pokemon.loc[pokemon['Type1'] == "Fire"][0:5])

   Number                       Name Type1   Type2  Total  HP  Attack  \
4       4                 Charmander  Fire     NaN    309  39      52
5       5                 Charmeleon  Fire     NaN    405  58      64
6       6                  Charizard  Fire  Flying    534  78      84
7       6  CharizardMega Charizard X  Fire  Dragon    634  78     130
8       6  CharizardMega Charizard Y  Fire  Flying    634  78     104

   Defense  SpecialAtk  SpecialDef  Speed  Generation  Legendary
4       43          60          50     65           1      False
5       58          80          65     80           1      False
6       78         109          85    100           1      False
7      111         130          85    100           1      False
8       78         159         115    100           1      False

## Sorting/ Describing data

In [69]:
# describes data
# pokemon.describe()

# pokemon.sort_values('Name',ascending=False)
# pokemon.sort_values(['Type1','HP'], ascending=[True,False])

## Making changes to data

In [90]:
# pokemon.head(5)
# pokemon['Total'] = pokemon['HP']+pokemon['Attack']+pokemon['Defense']+pokemon['SpecialAtk']+pokemon['SpecialDef']+ pokemon['Speed']
# pokemon = pokemon.drop(columns = ['Total'])

pokemon['Total'] = pokemon.iloc[:,4:10].sum(axis=1)

cols = list(pokemon.columns)
modified_pokemon = pokemon[cols[0:4]+ [cols[-1]] + cols[4:12]]
modified_pokemon.head(4)

,Number,Name,Type1,Type2,Legendary,Total,HP,Attack,Defense,SpecialAtk,SpecialDef,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1

## Saving updated file

In [ ]:
df.to_csv("updated_pokemon_data.csv")