# Loading data into Pandas

In [135]:
import pandas as pd

pokemon = pd.read_csv('pokemon_data.csv')
# print(pokemon.head(4)) loads first 4 rows

## Reading data in Pandas

In [70]:
# Read headers
# print(pokemon.columns)

# Read each column
# print(pokemon[['Name','Type1','Type2']][0:9])

# Read each row
# print(pokemon.iloc[1])

# read a specific location
# print(pokemon.iloc[2,1])

# Only get first 5 fire type pokemon
print(pokemon.loc[pokemon['Type1'] == "Fire"][0:5])

   Number                       Name Type1   Type2  Total  HP  Attack  \
4       4                 Charmander  Fire     NaN    309  39      52
5       5                 Charmeleon  Fire     NaN    405  58      64
6       6                  Charizard  Fire  Flying    534  78      84
7       6  CharizardMega Charizard X  Fire  Dragon    634  78     130
8       6  CharizardMega Charizard Y  Fire  Flying    634  78     104

   Defense  SpecialAtk  SpecialDef  Speed  Generation  Legendary
4       43          60          50     65           1      False
5       58          80          65     80           1      False
6       78         109          85    100           1      False
7      111         130          85    100           1      False
8       78         159         115    100           1      False

## Sorting/ Describing data

In [69]:
# describes data
# pokemon.describe()

# pokemon.sort_values('Name',ascending=False)
# pokemon.sort_values(['Type1','HP'], ascending=[True,False])

## Making changes to data

In [153]:
# pokemon.head(5)
# pokemon['Total'] = pokemon['HP']+pokemon['Attack']+pokemon['Defense']+pokemon['SpecialAtk']+pokemon['SpecialDef']+ pokemon['Speed']
# pokemon = pokemon.drop(columns = ['Total'])

pokemon['Total'] = pokemon.iloc[:,4:10].sum(axis=1)

cols = list(pokemon.columns)
modified_pokemon = pokemon[cols[0:4]+ [cols[-1]] + cols[4:12]]

pokemon = pokemon.drop(columns=['Total'])
modified_pokemon.head(4)

,Number,Name,Type1,Type2,Total,HP,Attack,Defense,SpecialAtk,SpecialDef,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False

## Saving updated file

In [97]:
# modified_pokemon.to_csv("updated_pokemon_data.tsv", sep='\t',index=False)

## Filtering Data

In [169]:
# modified_pokemon.loc[(modified_pokemon['Type1']=="Grass") & (modified_pokemon['Type2']=="Poison") & (modified_pokemon["Total"]>450)]
# modified_pokemon.loc[~modified_pokemon['Name'].str.contains('Mega')]
import re
# modified_pokemon.loc[modified_pokemon['Type1'].str.contains('fire|dragon',flags=re.I, regex=True)]
# modified_pokemon.loc[modified_pokemon['Name'].str.contains('^pi[a-z]*',flags=re.I, regex=True)]

,Number,Name,Type1,Type2,Total,HP,Attack,Defense,SpecialAtk,SpecialDef,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False
809,731,Pikipek,Normal,Flying,265,35,75,30,30,30,65,7,False